.product-details {
  .card {
    border-radius: 0.5rem;
    overflow: hidden;
    .card-body {
      img {
        filter: brightness(55%);
        transition: 0.3s all !important;
        height: 200px;
        &:hover {
          transform: scale(1.05);
        }
      }
      .card-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 26px;
      }
    }
  }
}
