.three-d-box {
  transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg)
    rotate(2deg);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.5rem !important;
  height: 400px;
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
}
